body {
  background-color: #3a4764;
  background-color: hsl(222, 26%, 31%);
}

#calculator {
  /* position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */

  max-width: 100%;
  height: auto;

  /* width: 540px;
  height: 710px; */
}

#selector{
  background-color: #3a4764;
  background-color: hsl(222, 26%, 31%);
  color: white;
  border-radius: 12px;
  border-style: hidden;
}

#display {
  width: 540px;
  height: 128px;
  background-color: hsl(224, 36%, 15%);
  border-radius: 12px;
  border-style: hidden;
}

#displayNumbers{
  font-size: 50px;
  font-weight: bold;
  text-align: right;
  color: white;
  margin: 32px 20px;
  width: 500px;
  height: 64px;
  background: transparent;
  border: 0;
}

#keypad {
  background-color: hsl(223, 31%, 20%);
  width: 540px;
  height: 480px;
  border-radius: 12px;
  border-style: hidden;
}

.divider{
  height: 25px;
}

.allBtn {
  font-weight: bold;
  height: 65px;
  border-radius: 12px;
  border-style: hidden;
  margin: 12.5px;
}

.allBtn:hover {
  filter: brightness(110%);
}

.allBtn:active{
  transform: translate(0, 2%);
}

.squareBtn {
  width: 100px;
}

.rectangleBtn {
  width: 230px;
}

.numberBtn {
  font-size: 30px;
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0 5px hsl(28, 16%, 65%);
}

.wordBtn {
  font-size: 20px;
  color: white;
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 5px hsl(224, 28%, 35%);
}

.equalsBtn {
  font-size: 20px;
  color: white;
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 5px hsl(6, 70%, 34%);
}

.btnRow {
  margin-left: 12.5px;
}
