body {
  background-color: #3a4764;
  background-color: hsl(222, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {

    width: 540px; /* pick whatever width you want */
}
.container .outer {
    width: 100%;
    padding-top: 50%; /* defines aspect ratio */
    position: relative;
}
.container .outer .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


#calculator {
  height: 710px;
  margin: 5% auto 5% auto;
  width: 540px;
}

#display {
  background-color: hsl(224, 36%, 15%);
  border-radius: 12px;
  border-style: hidden;
  height: 128px;
  text-align: center;
  width: 540px;
}

#displayNumbers {
  font-size: 50px;
  font-weight: bold;
  text-align: right;
  color: white;
  width: 500px;
  height: 64px;
  background: transparent;
  border: 0;
  margin: 5% auto 5% auto;
}

#keypad {
  background-color: hsl(223, 31%, 20%);
  width: 540px;
  height: 480px;
  border-radius: 12px;
  border-style: hidden;
}

.divider {
  height: 25px;
}

.allBtn {
  font-weight: bold;
  height: 65px;
  border-radius: 12px;
  border-style: hidden;
  margin: 12.5px;
}

.allBtn:hover {
  filter: brightness(110%);
}

.allBtn:active {
  transform: translate(0, 2%);
}

.squareBtn {
  width: 100px;
}

.rectangleBtn {
  width: 230px;
}

.numberBtn {
  font-size: 30px;
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0 5px hsl(28, 16%, 65%);
}

.wordBtn {
  font-size: 20px;
  color: white;
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 5px hsl(224, 28%, 35%);
}

.equalsBtn {
  font-size: 20px;
  color: white;
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 5px hsl(6, 70%, 34%);
}

.btnRow {
  margin-left: 12.5px;
}

#selector {
  width: 540px;
  height: 100px;
  background-color: #3a4764;
  background-color: hsl(222, 26%, 31%);
  color: white;
  border-radius: 12px;
  border-style: hidden;
  margin: auto;
}

.headerLeft {
  width: 340px;
  float: left;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 100px;
}

.headerMiddle {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  float: left;
  height: auto;
  width: 100px;
  line-height: 100px;
  text-align: right;
}

.headerRight {
  float: right;
  height: 100px;
  width: 100px;
}

.toggleNumbers {
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 7px;
  text-align: right;
}

.toggleButtons {
  float: right;
  background-color: hsl(223, 31%, 20%);
  border-radius: 60px;
  width: 75%;
}

input[type='radio'] {
  border: 0;
  opacity: 0;
}

input[type='radio']:checked {
  accent-color: red;
  opacity: 100;
}

input[type='radio']:hover {
  opacity: 100;
}
